@keyframes pisca{
  0% { opacity: 0.2;}
  50% { opacity: 1;}
  100% { opacity: 0.2;}
}

body{ 
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
   font-family: Arial, Helvetica, sans-serif;
}

.urna{
background-color: #dbd5c9;
padding: 30px;
display: flex;

}

.tela{
  width: 500px;
  height: 320px;
  background:linear-gradient(to right,#e8e8e8,#c1c1c1);
  margin-left: 30px;
  border: 2px solid #555;
  display: flex;
  flex-direction: column;

}

.teclado{
  margin-left: 30px;
  background-color: #403a3a;
}


.teclado-linha{
  display: flex;
  justify-content: center;
  align-items:flex-end ;
}
.teclado--botao{
  height: 40px;
  width: 70px;
  background-color: #000;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor:pointer;
  box-shadow: 3px 3px 0 #555;
}

.btn--branco{
background-color: white;
color: #000;
font-size: 15px
}

.btn--corrige{
background-color: #f09046;
color: #000;
font-size: 15px;

}

.btn--confirma{
  background-color: #48c079;
  color: #000;
  font-size: 15px;
  width: 90px;
  height: 50px;
}


.d-1 {
  display: flex;
  flex: 1;
}

.d-1-left{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.d-1-1{
  height: 50px;
  display: flex;
  align-items: center;
}

.d-1-2{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-1-3{
  height: 50px;
  display: flex;
}

.numero{
  display: inline-block;
  width: 30px;
  height: 40px;
  border: 1px solid #000;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}

.pisca{
  animation-name: pisca;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  
}
.d-1-4{
  flex: 1;
  line-height: 30px;
}

.d-1-rigth{
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.d-1-image{
  border: 1px solid #000;
  background-color: white;
  text-align: center;
  font-size: 14px;

}

.d-1-image img{
  width: 100%;
  height: 100px;
 
}

.d-1-image.small{
  width: 90%;
  font-size: 10px;
}
.d-2{
 height: 50px;
  font-size: 13px;
  border-top: 2px solid #000;
  padding-left: 10px;

}

.aviso--grande{
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.aviso--gigante{
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;

}

